body {
  background-image: url("./assets/Accueil.JPG");
  list-style: none;
  text-decoration: none;
  background-size: cover;
}

nav {
  background: rgba(214, 208, 208, 0.7);
  border: 2px solid transparent;
  display: flex;
  /* margin: 0; */
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  left: 3rem;
  /* top: 13rem; */
  height: 5em;
  width: 90%;
  /* padding: 0.5rem; */
  /* width: max-content; */
  border-radius: 0.6rem;
}
ul {
  position: relative;
  /* right: 1.4rem; */
  /* bottom: 1.4rem; */
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.tab {
  border: 2px solid transparent;
  cursor: pointer;
  background: rgb(214, 211, 177);
  height: fit-content;
  border-radius: 12px;
  color: rgb(109, 106, 106);
  box-shadow: 2px 3px 3px black;
  padding: 3px;
}
button:active {
  transform: translateY(10%);
  box-shadow: none;
  transition: 300ms ease;
}

.active {
  transition: 300ms ease;
  background: rgb(243, 226, 75);
  color: black;
  font-weight: bold;
}

.counter {
  font-size: 20px;
  /* position: relative; */
  /* left: 0.1rem; */
  /* bottom: 2rem; */
  /* border-radius: 12px; */
  /* background: white; */
  color: white;
  /* padding: auto; */
}

/*Boutons Commander */
#commander {
  background: rgb(46, 231, 46);
  font-weight: bold;
  color: white;
  border-radius: 12px;
  border: 2px solid transparent;
  position: fixed;
  width: 35px;
  font-size: 2rem;
  height: 27px;
  top: 15.5rem;
  font-size: 20px;
  left: 39.5rem;
  box-shadow: 2px 3px 2px rgb(12, 12, 12);
  animation: 6000ms ease-in shake infinite;
}

@keyframes shake {
  0% {
    background: purple;
    transition: 300ms ease;
    color: white;
  }
  25% {
    background: orange;
    transition: 300ms ease;
    color: black;
  }
  50% {
    background: red;
    transition: 300ms ease;
    color: white;
  }
  75% {
    transition: 300ms ease;
    background: blue;
    color: white;
  }
  100% {
    background: yellow;
    color: black;
    transition: 300ms ease;
  }
}
.program {
  position: relative;
  top: 2.7rem;
}

article {
  background: rgba(238, 217, 178, 0.9);
  width: fit-content;
  padding: 8px;
  border: 2px solid transparent;
  border-radius: 16px;
  font-size: 12px;
  position: relative;
  top: 2em;
  top: 4rem;
  text-align: center;
  animation: 10000ms ease moves infinite;
}

@keyframes moves {
  0% {
    position: relative;
    left: 0;
    top: 1rem;
    transition: 10000ms ease-out;
  }
  25% {
    position: relative;
    left: 25rem;
    top: 1rem;
    transition: 15000ms ease-out;
  }
  50% {
    position: relative;
    left: 0;
    top: 1rem;
    transition: 5000ms ease-out;
  }
  75% {
    position: relative;
    left: 25rem;
    top: 1rem;
    transition: 10000ms ease-out;
  }
  100% {
    position: relative;
    left: 0rem;
    top: 1rem;
    transition: 5000ms ease-in;
  }
}
/* BOutons Style */
#add0,
#add1,
#add2,
#add3,
#add4,
#add5 {
  font-size: 8px;
  font-size: 7px;
  color: white;
  background: blue;
  border: 2px solid transparent;
  border-radius: 2rem;
  box-shadow: 1px 1px 1px rgb(17, 16, 16);
  /* box-shadow: 1px 1px 1px gray; */
}
#add0:active {
  background: rgb(85, 85, 138);
  color: black;
  box-shadow: none;
}
#add1:active {
  background: rgb(85, 85, 138);
  color: black;
  box-shadow: none;
}
#add2:active {
  background: rgb(85, 85, 138);
  color: black;
  box-shadow: none;
}
#add3:active {
  background: rgb(85, 85, 138);
  color: black;
  box-shadow: none;
}
#add4:active {
  background: rgb(85, 85, 138);
  color: black;
  box-shadow: none;
}
#add5:active {
  background: rgb(85, 85, 138);
  color: black;
  box-shadow: none;
}

#buy0,
#buy1,
#buy2,
#buy3,
#buy4,
#buy5 {
  font-size: 8px;
  font-size: 7px;
  color: white;
  background: green;
  border: 2px solid transparent;
  border-radius: 2rem;
  box-shadow: 1px 1px 1px rgb(17, 16, 16);
}

#buy0:active {
  box-shadow: none;
  color: black;
  background: rgb(91, 134, 91);
}
#buy1:active {
  box-shadow: none;
  color: black;
  background: rgb(91, 134, 91);
}
#buy2:active {
  box-shadow: none;
  color: black;
  background: rgb(91, 134, 91);
}
#buy3:active {
  box-shadow: none;
  color: black;
  background: rgb(91, 134, 91);
}
#buy4:active {
  box-shadow: none;
  color: black;
  background: rgb(91, 134, 91);
}
#buy5:active {
  box-shadow: none;
  color: black;
  background: rgb(91, 134, 91);
}

.boite {
  border-radius: 0.4rem;
  background: gold;
  width: fit-content;
  height: fit-content;
  padding: 2px;
  gap: 5rem;
  position: relative;
  top: 3rem;
  margin: 0.4rem;
}
.boite > img {
  border-radius: 0.4rem;
  width: 100%;
}
.transac {
  position: relative;
  left: 3rem;
  bottom: 0.2rem;
}

.bigBoite {
  display: grid;
  grid-template-columns: auto auto auto;
}
h1 {
  text-align: center;
  color: yellow;
  position: relative;
  top: 4rem;
}

/* Media Query Telephone mobile */
@media (max-width: 600px) {
  article {
    animation: none;
    width: 80%;
    height: fit-content;
    position: relative;
    left: 3rem;
    margin-bottom: 3rem;
    /* padding: 2px; */
  }
  .program {
    position: relative;
    bottom: 5rem;
    width: 120%;
    right: 3.1rem;
    font-size: 500px;
    height: 200px;
    font-weight: bold;
  }

  nav {
    position: fixed;
    z-index: 1;
    height: 90px;
    padding-top: 0.4rem;
    left: 0rem;
    /* top: 1rem; */
    width: 100%;
    top: -1rem;
    /* font-size: 12px; */
  }

  nav > ul {
    position: relative;
    left: 1rem;
    font-size: x-large;
    top: 0.5rem;
    display: flex;
    justify-content: space-between;
    gap: 0.6rem;
  }
  nav > ul > button {
    font-size: 25.1px;
  }
  .transac {
    display: flex;
    justify-content: center;
    gap: 3px;
    position: relative;
    right: 19rem;
  }
  button {
    position: relative;
    right: 1.7rem;
    /* height: 0px; */
    /* font-size: 2.5px; */
  }
  .menu {
    position: relative;
    top: 1.5rem;
    width: 100%;
    right: 0.5rem;
    /* left: 0.5rem; */
  }
  h1 {
    position: relative;
    margin-top: 5rem;
    left: 1rem;
    /* top: 1rem; */
    bottom: 10rem;
    color: rgb(255, 145, 0);
  }
  .boite {
    position: relative;
    /* top: 1rem; */
    padding: 1rem;
    border-radius: 1rem;
    background: rgb(255, 145, 0);
  }
  .bigBoite {
    display: grid;
    grid-template-columns: auto;
    position: relative;
    top: 2rem;
    /* left: 1.2rem; */
    width: 100%;
  }
  #buy0,
  #buy1,
  #buy2,
  #buy3,
  #buy4,
  #buy5 {
    font-size: x-large;
    position: relative;
    right: 4.3rem;
    top: 0.4rem;
    box-shadow: 3px 3px 4px black;
  }

  #add0,
  #add1,
  #add2,
  #add3,
  #add4,
  #add5 {
    top: 0.4rem;
    /* left: 0.1rem; */
    font-size: x-large;
    box-shadow: 3px 3px 4px black;
    position: relative;
    right: 3rem;
  }
  #commander {
    position: fixed;
    left: 22rem;
    bottom: 5rem;
    margin-top: 21.9rem;
    width: 50px;
    z-index: 1;
  }
  .counter {
    position: relative;
    /* left: -0.4rem; */
    font-size: 9.5px;
    right: 10px;
    bottom: 6px;
    /* font-size: 20px; */
  }
  .histo {
    display: grid;
    gap: 0.4rem;
    grid-template-columns: auto auto;
  }
}
