body {
  /* background-image: url("./assets/Accueil.JPG"); */
  background-image: url("./assets//Profile.JPG");
  list-style: none;
  text-decoration: none;
  background-position: center;
  overflow-x: hidden;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  background: rgba(214, 208, 208, 0.7);
  border: 2px solid transparent;
  display: flex;
  /* margin: 0; */
  justify-content: space-between;
  position: fixed;
  top: 0.5rem;
  z-index: 1;
  left: 3.5rem;
  /* top: 13rem; */
  height: 5em;
  width: 90%;
  /* margin-bottom: 1rem; */
  border-radius: 0.6rem;
}
ul {
  position: relative;
  left: 23rem;
  /* bottom: 1.4rem; */
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.tab {
  /* right: 32rem; */
  font-size: 30px;
  border: 2px solid transparent;
  cursor: pointer;
  /* background: rgb(214, 211, 177); */
  background: rgb(169, 197, 223);
  height: fit-content;
  border-radius: 12px;
  color: rgb(151, 164, 187);
  /* color: rgb(109, 106, 106); */
  box-shadow: 2px 3px 3px black;
  padding: 3px;
}
button:active {
  transform: translateY(10%);
  box-shadow: none;
  transition: 300ms ease;
}

.active {
  transition: 300ms ease;
  /* background: rgb(243, 226, 75);  */
  background: rgb(5, 108, 241);
  /* color: rgb(240, 233, 233); */
  color: white;
  font-weight: bold;
}

.counter {
  font-size: 10px;
  position: relative;
  right: 0.3rem;
  /* bottom: 2rem; */
  /* border-radius: 12px; */
  /* background: white; */
  color: white;
  /* padding: auto; */
}

/*Boutons Commander */
#commander {
  background: rgb(46, 231, 46);
  font-weight: bold;
  color: white;
  border-radius: 12px;
  border: 2px solid transparent;
  position: fixed;
  width: 55px;
  font-size: 10px;
  height: 27px;
  top: 18.5rem;
  font-size: 20px;
  left: 78.5rem;
  box-shadow: 2px 3px 2px rgb(12, 12, 12);
  animation: 6000ms ease-in shake infinite;
}

@keyframes shake {
  0% {
    background: purple;
    transition: 300ms ease;
    color: white;
  }
  25% {
    background: orange;
    transition: 300ms ease;
    color: black;
  }
  50% {
    background: red;
    transition: 300ms ease;
    color: white;
  }
  75% {
    transition: 300ms ease;
    background: blue;
    color: white;
  }
  100% {
    background: yellow;
    color: black;
    transition: 300ms ease;
  }
}
.program {
  position: relative;
  top: 4.8rem;
  margin-bottom: 1rem;
  /* font-size: 500px; */
}

article {
  /* background: rgba(238, 217, 178, 0.9); */
  background: rgba(135, 168, 211, 0.9);
  height: 400px;
  width: 60%;
  /* width: fit-content; */
  padding: 8px;
  color: white;
  border: 2px solid transparent;
  border-radius: 16px;
  font-size: 22px;
  position: relative;
  /* top: 2em; */
  top: 5rem;
  text-align: center;
  animation: 10000ms ease moves infinite;
}

@keyframes moves {
  0% {
    position: relative;
    left: 0;
    top: 1rem;
    transition: 10000ms ease-out;
  }
  25% {
    position: relative;
    left: 25rem;
    top: 1rem;
    transition: 15000ms ease-out;
  }
  50% {
    position: relative;
    left: 0;
    top: 1rem;
    transition: 5000ms ease-out;
  }
  75% {
    position: relative;
    left: 25rem;
    top: 1rem;
    transition: 10000ms ease-out;
  }
  100% {
    position: relative;
    left: 0rem;
    top: 1rem;
    transition: 5000ms ease-in;
  }
}
/* Boutons Style */
#add0,
#add1,
#add2,
#add3,
#add4,
#add5 {
  font-size: 18px;
  padding: 0.4rem;
  color: white;
  background: blue;
  border: 2px solid transparent;
  border-radius: 2rem;
  box-shadow: 2px 5px 2px rgb(17, 16, 16);
  /* box-shadow: 1px 1px 1px gray; */
}
#add0:active {
  transition: 250ms;
  background: rgb(85, 85, 138);
  color: black;
  box-shadow: none;
}
#add1:active {
  transition: 250ms;
  background: rgb(85, 85, 138);
  color: black;
  box-shadow: none;
}
#add2:active {
  transition: 250ms;
  background: rgb(85, 85, 138);
  color: black;
  box-shadow: none;
}
#add3:active {
  transition: 250ms;
  background: rgb(85, 85, 138);
  color: black;
  box-shadow: none;
}
#add4:active {
  transition: 250ms;
  background: rgb(85, 85, 138);
  color: black;
  box-shadow: none;
}
#add5:active {
  transition: 250ms;
  background: rgb(85, 85, 138);
  color: black;
  box-shadow: none;
}

#buy0,
#buy1,
#buy2,
#buy3,
#buy4,
#buy5 {
  font-size: 18px;
  color: white;
  background: green;
  padding: 0.4rem;
  border: 2px solid transparent;
  border-radius: 2rem;
  box-shadow: 2px 5px 2px rgb(17, 16, 16);
}

#buy0:active {
  transition: 250ms;
  box-shadow: none;
  color: black;
  background: rgb(91, 134, 91);
}
#buy1:active {
  transition: 250ms;
  box-shadow: none;
  color: black;
  background: rgb(91, 134, 91);
}
#buy2:active {
  transition: 250ms;
  box-shadow: none;
  color: black;
  background: rgb(91, 134, 91);
}
#buy3:active {
  transition: 250ms;
  box-shadow: none;
  color: black;
  background: rgb(91, 134, 91);
}
#buy4:active {
  transition: 250ms;
  box-shadow: none;
  color: black;
  background: rgb(91, 134, 91);
}
#buy5:active {
  transition: 250ms;
  box-shadow: none;
  color: black;
  background: rgb(91, 134, 91);
}

.boite {
  border-radius: 0.4rem;
  /* background: gold; */
  background: rgb(62, 124, 218);
  width: fit-content;
  height: fit-content;
  padding: 12px;
  gap: 5rem;
  font-size: 22px;
  position: relative;
  top: 3rem;
  margin: 0.4rem;
}
.boite > img {
  border-radius: 0.4rem;
  width: 100%;
}
.transac {
  position: relative;
  left: 6.5rem;
  top: 0.2rem;
  font-size: 22px;
  bottom: 0.2rem;
}

.bigBoite {
  display: grid;
  grid-template-columns: auto auto auto;
}
h1 {
  text-align: center;
  /* color: yellow; */
  color: white;
  background: rgb(8, 8, 8);
  width: fit-content;
  box-shadow: 2px 3px 2px yellow;
  border-radius: 0.4rem;
  position: relative;
  top: 4.5rem;
  left: 39rem;
  margin-bottom: 1rem;
}

/* Media Query Telephone mobile */
@media (max-width: 600px) {
  body {
    background-image: url("./assets/Profile.JPG");
    /* background-position: center; */
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
  }
  article {
    animation: none;
    width: 80%;
    height: fit-content;
    position: relative;
    left: 3rem;
    /* bottom: 2rem; */
    /* margin-bottom: 3rem; */
    /* padding: 2px; */
  }
  .program {
    position: relative;
    bottom: 8rem;
    width: 120%;
    right: 3.1rem;
    font-size: 300px;
    height: fit-content;
    /* font-weight: bold; */
  }

  nav {
    position: fixed;
    z-index: 1;
    height: 90px;
    /* padding-top: 0.4rem; */
    left: 0rem;
    /* top: 1rem; */
    width: 100%;
    top: -1rem;
    /* font-size: 12px; */
  }

  nav > ul {
    position: relative;
    left: 1rem;
    font-size: 1px;
    top: 1.4rem;
    display: flex;
    justify-content: space-between;
    gap: 0.4rem;
  }
  nav > ul > .tab {
    font-size: 28px;
    box-shadow: 2px 4px 3px black;
  }
  .transac {
    position: relative;
    right: 4rem;
    gap: 1px;
  }
  button {
    position: relative;
    right: 1.7rem;
    /* height: 0px; */
    /* font-size: 2.5px; */
  }
  .menu {
    position: relative;
    top: 1.5rem;
    width: 100%;
    left: 10rem;
    /* left: 0.5rem; */
  }
  h1 {
    position: relative;
    margin-top: 5rem;
    left: 1rem;
    /* top: 1rem; */
    bottom: 10rem;
    color: white;
    /* color: rgb(255, 145, 0); */
  }
  .boite {
    position: relative;
    /* top: 1rem; */
    padding: 1rem;
    box-shadow: 2px 4px 3px rgb(39, 38, 38);
    border-radius: 1rem;
    background: rgb(62, 124, 218);
    /* background: rgb(255, 145, 0); */
  }
  .bigBoite {
    display: grid;
    grid-template-columns: auto;
    position: relative;
    top: 2rem;
    /* left: 1.2rem; */
    width: 100%;
  }
  #buy0,
  #buy1,
  #buy2,
  #buy3,
  #buy4,
  #buy5 {
    font-size: x-large;
    position: relative;
    right: 2.7rem;
    top: 0;
    box-shadow: 3px 5px 4px black;
  }

  #add0,
  #add1,
  #add2,
  #add3,
  #add4,
  #add5 {
    top: 0;
    /* left: 0.1rem; */
    font-size: x-large;
    box-shadow: 3px 5px 4px black;
    position: relative;
    right: 1.6rem;
  }
  #commander {
    position: fixed;
    left: 23rem;
    /* bottom: rem; */
    margin-top: 21.9rem;
    width: 50px;
    z-index: 1;
  }
  .counter {
    position: relative;
    /* left: -0.4rem; */
    font-size: 9.5px;
    right: 7.5px;
    bottom: 6px;
    /* font-size: 20px; */
  }
  .histo {
    display: grid;
    gap: 0.4rem;
    grid-template-columns: auto auto;
  }

  /* Active Bouton */
  #buy0:active {
    transition: 150ms;
    box-shadow: none;
    color: black;
    background: rgb(91, 134, 91);
  }
  #buy1:active {
    transition: 150ms;
    box-shadow: none;
    color: black;
    background: rgb(91, 134, 91);
  }
  #buy2:active {
    transition: 150ms;
    box-shadow: none;
    color: black;
    background: rgb(91, 134, 91);
  }
  #buy3:active {
    transition: 150ms;
    box-shadow: none;
    color: black;
    background: rgb(91, 134, 91);
  }
  #buy4:active {
    transition: 150ms;
    box-shadow: none;
    color: black;
    background: rgb(91, 134, 91);
  }
  #buy5:active {
    transition: 150ms;
    box-shadow: none;
    color: black;
    background: rgb(91, 134, 91);
  }

  #add0:active {
    transition: 150ms;
    background: rgb(85, 85, 138);
    color: black;
    box-shadow: none;
  }
  #add1:active {
    transition: 150ms;
    background: rgb(85, 85, 138);
    color: black;
    box-shadow: none;
  }
  #add2:active {
    transition: 150ms;
    background: rgb(85, 85, 138);
    color: black;
    box-shadow: none;
  }
  #add3:active {
    transition: 150ms;
    background: rgb(85, 85, 138);
    color: black;
    box-shadow: none;
  }
  #add4:active {
    transition: 150ms;
    background: rgb(85, 85, 138);
    color: black;
    box-shadow: none;
  }
  #add5:active {
    transition: 150ms;
    background: rgb(85, 85, 138);
    color: black;
    box-shadow: none;
  }

  button:active {
    transform: translateY(20%);
    box-shadow: none;
    transition: 150ms ease;
  }
}
